@import '../../../theme/theme.styl';

.header
  position: fixed
  top: 0
  height: 50px
  width: 100%
  background-color: $navigation-bg-color
  z-index: $zIndex-sticky
  color: white

.content
  height: 100%
  max-width: $viewport-size-lg
  margin: 0 auto
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
