// This is main theme file. Here you can find some useful
// constants that used in styles across the whole application.

// Button colors
$primary-color   = cadetblue
$secondary-color = lightgray
$danger-color    = lightcoral

// Navigation colors
$navigation-bg-color = cadetblue

// Viewport sizes
$viewport-size-lg = 1100px

// Z-index's list
$zIndex-sticky         = 222
$zIndex-modal-backdrop = 444
$zIndex-modal          = 555
