.details
  position: relative
  width: 500px

.content
  position: relative

.controls
  padding: 20px
  padding-bottom: 0
  box-sizing: border-box
  display: flex
  flex-direction: row
  align-items center
  justify-content center

.tabContent
  padding: 100px
  box-sizing: border-box
